
table {
    border-collapse: collapse;
    max-width: 800px;
    width: 20%;
    margin: 1rem auto;

}
table th .table td{
    border: 1px solid #ddd;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.absenden {
    padding-left: 50px;
}
.Tabellejs {


}
/*
.table{
    border : 1px solid #ee750d;


    min-height: 200px;
    align-content: center;
}
.table th, table td{
    border : 1px solid yellowgreen;

    align-content: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
*/

