Tabellenfeld{
    width: 10%;
    height: 30px;
    margin: 1% 1%;
    border: none;
    box-shadow: -1px -1px 4px black;
    font-size: 30px;
}
.Tabellenfeld {
    max-height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 20px;
}