.nav-item{
    width: calc(var(--nav-size)*0.8);
    display:flex;
    align-items:center;
    justify-content: flex-start;
}
.icon-button{
    width: 100px;
    height: 30px;
    border-radius: 5%;
    background-color: #ee750d;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    font-size: 18px;
    font-weight: bold;
}

.icon-button:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}