.nav-item{
    width: calc(var(--nav-size)*0.8);
    display:flex;
    align-items:center;
    justify-content: flex-start;
}
.navbar-icon{
    max-width: 130%;
    max-height: 130%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    font-size: 18px;
    font-weight: bold;
}

.navbar-icon:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
