.Casual {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}
.Eingabefeld {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding:30px;
    align-items: flex-start;
    align-content: flex-start;
}
.Eingabefeld label {
    align-self: center;
}
.Eingabefeld div {
    width: 15%;
    align-self: flex-start;
}
.Spalteneingabe {
    display: flex;
    flex-direction: column;

}
.Spalteneingabe div{
    text-align: center;
    width: 100%;
    font-size: 18px;
    border-radius: var(--border-radius);
    padding: 1rem;
}
.Zeileneingabe div{
    text-align: center;
    width: 100%;
    font-size: 18px;
    border-radius: var(--border-radius);
    padding: 1rem;
}
.Zeileneingabe {
    display: flex;
    flex-direction: column;
}

.VorAbsenden {
    display: flex;
    flex-direction: column;
}
.StartKnopf {
    align-self: flex-start;
}

.CasualTabellenFelder {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.TabelleLinks {
    align-self: flex-end;
}
.TabelleOben{
    align-self: flex-start;
}
.TabelleMain {
    align-self: center;

}
.GANZGROßERDIV {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-self: center;
    margin-right: 10%;
}
.absenden {

}
.NavButtons {
    display: flex;
    justify-content: space-between;
}
.LinksUndMain {
    display: flex;
    align-items: flex-start;

}
.nochGrößererDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}