.Casual {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}
.Eingabefeld {
    margin: 20px 0;
}
.Eingabefeld label {

}
.Eingabefeld input {
    width: 20%;
    height: 30px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 19px;

}
.StartKnopf {

}
.CasualTabellenFelder {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.TabelleLinks {
    align-self: flex-start;
}
.TabelleOben{

}
.TabelleMain {
    align-self: center;
}
.GANZGROßERDIV {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.absenden {
    align-self: flex-end;

}
.NavButtons {
    display: flex;
    justify-content: space-between;
}
