.Casual {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}
.Eingabefeld {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
.Eingabefeld label {
    align-self: center;
}
.Eingabefeld div {
    align-self: center;
}
.Spalteneingabe {
    display: flex;
    flex-direction: column;
}
.Spalteneingabe div{
    font-size: 30px;

    border-radius: 5px;
    border-style: dashed;
    border-color: black;
    background: lightgrey;
}
.Zeileneingabe div{
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    border-style: dashed;
    border-color: black;
    background: lightgrey;
}
.Zeileneingabe {
    display: flex;
    flex-direction: column;
}

.StartKnopf {

}
.VorAbsenden {
    display: flex;
    flex-direction: column;
}
.CasualTabellenFelder {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
.TabelleLinks {
    align-self: flex-end;
}
.TabelleOben{
    align-self: flex-start;
}
.TabelleMain {
    align-self: center;

}
.GANZGROßERDIV {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-self: center;
    margin-right: 10%;
}
.absenden {

}
.NavButtons {
    display: flex;
    justify-content: space-between;
}
.LinksUndMain {
    display: flex;
    align-items: flex-start;

}
.nochGrößererDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}